/*body {*/
/*	padding: 0;*/
/*	margin: 0;*/
/*}*/

/*nav {*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*}*/
/*nav > a {*/
/*	text-decoration: none;*/
/*	color: #fff;*/
/*  font-size: 24px;*/
/*	display: inline-block;*/
/*    padding: 5px 10px;*/
/*    border-right: 1px solid #ccc;*/
/*}*/
/*nav a:last-child {*/
/*    border-right: none; !* Removes the border from the last item *!*/
/*}*/
