:root {
    --primary: #3E4C54;
    --foxlabs-orange: #3E4C54;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--primary);
    color: #eee;

    font-family: 'Montserrat', sans-serif; /* Modern font */
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
}

/* region Nav Elements */
nav {
    background: #1e1e1ecc;
    border-bottom: 1px solid var(--foxlabs-orange);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px); /* Modern glass effect */
    box-shadow: 0 4px 20px #00000066;
}
/* endregion Nav Elements*/

/* region Custom Scrollbar */
article {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
/* endregion */

footer {
    background: #151515;
}